{{#react}}
    {
    "component": "@moodle/lms/local_lsf_unification/Dashboard",
    }
    <div class="position-relative">
        <div class="position-absolute top-50 start-50 translate-middle">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">{{#str}}loading, core{{/str}}</span>
            </div>
        </div>
    </div>
{{/react}}
