name: Moodle Plugin CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  call-learnweb-moodle-ci:
    name: "Central Learnweb Moodle CI workflow"
    uses: learnweb/moodle-workflows-learnweb/.github/workflows/moodle-ci.yml@main
    with:
      allow-mustache-lint-error: true
      allow-grunt-error: true
